.histBlock
{
  background: #E6E6E6; 
  border: 2px solid black ;
  /*width: 98%;*/
}

#sitePath
{
  /*border: solid;*/
  width: 100%;
  background-color: #FFF;
  font-size: 14pt;
  line-height: 1.8em;
  color: #333;
  border-radius: 1px;
  font-family: roboto_con, sans-serif;
  /*padding: 10px 4px 10px;*/
  text-align: left;
  margin-right: 5em;
  /*border-width: 2px;*/

}

#test-scroll
{
   height : 30px;
   /*width:100%;*/
   position:relative;
   /*overflow:auto;*/
   border:solid;
   border-width:2px;
   border-color:#333;
   padding:10px ;
   font-size:14pt;
   text-transform: none !important;
   border-radius: 1px;

}

#siteTable
{
  table-layout:fixed;
  table-layout:fixed;
  overflow:hidden; 
  white-space: nowrap;
  width:98%
}

#level-scroll
{

  position:relative;
  height: 70% ;
  padding-top: 0px;
   padding-bottom: 0px; 
   overflow:auto;
   font-size:14pt;
}

#risk-scroll
{
  height : 150px;
  position:relative;
  overflow:auto;
  border:solid;
  border-width:2px;
  border-color:black;
}

#risk-scroll2
{
  height : 150px;
  position:relative;
  overflow:auto;
  border:solid;
  border-width:2px;
  border-color:black;
}

#exParty-scroll
{
  position:relative;
  overflow:auto;
  height:140px;
  border:solid;
  border-width:2px;
  border-color:black;
}

br {
   /*display: none;*/
   margin: 0px 0;
   height: 0px;
   padding: 0px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: background 0.2s;
}
input.cmn-toggle-round + label:after {
  width: 29px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: margin 0.2s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #f1f1f1;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}



 .ontop {
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: absolute;       
  background: rgba(0, 0, 0, 0.6); 
  color: #aaaaaa;
}

#popup {
    width: 95%;
    height: 70%;
    position: absolute;
    color: #000000;
    background: rgba(255, 255, 255 , 1) !important; 
    /* To align popup window at the center of screen*/
    top: 15%;
    left: 2.5%;
    /*margin-top: -100px;*/
    /*margin-left: -150px;*/
    /*margin:0 auto;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    font-size:10pt !important;
    overflow-y: scroll;
  }



#listContainer{
  margin-top:15px;
}
 
#expList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}
#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}



.cardFace
 {
     background: white;
     border-radius: 0px;


 }



.cardFormElement .invalidInput {

  /*background: rgba(255,0,0,0.2);*/
  border : 2px solid red;

}


.cardFormElement .validInput {

  /*background: rgba(0,255,0,0.2);*/
  border : 2px solid green;


}




.cardHeader {


  border-bottom: 1px solid #004171;
  /* color: rgba(255,255,255,0.6);*/
  color: white;
  width:100%;
  height: 67px;
  font-size:16pt;
  line-height: auto;

  max-height: 67px;
  min-height: 67px;
  font-family: roboto_bc;

  background: #004171;
/*  box-shadow: 2px 2px 4px rgba(0,0,0,0.3); */



}



.cardHeader _tr { font-size: 20pt;   }
.cardHeader _tl { font-size: 20pt;   }
.cardFooter _bl { font-size: 20pt;   }
.cardFooter _br { font-size: 20pt;   }



.cardHeader td { padding: 0px; padding-left:0px; }




.cardContent {

  font-size:10pt;
  font-family: roboto_med;
  text-transform: uppercase;
  overflow: hidden;
  color: black;
  background: #fefefe;


}





 .cardFooter
{

  border-top: 1px solid #344d68;
  /* color: rgba(255,255,255,0.6);*/
color: white;

  width:100%;
  height: 40px;
  font-size:16pt;
  line-height: auto;

  max-height: 40px;
  min-height: 40px;
  font-family: roboto_bc;

   background: #344d68;




}


.cardWideButton {

  width: 100%;
  background: rgba(255,255,255,0.2);
  color: #999;
  font-size: 15pt;
  text-align: left;
  padding: 13px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #bbb;
  /* text-shadow: 1px 1px 1px rgba(0,0,0,0.4); */

}



.cardSearchInput {

  width: 100%;
  background: rgba(255,255,255,0.4);
  color: #666;
  font-size: 12pt;
  padding: 13px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #bbb;

}

.cardHelp {

   font-size: 9pt;
   text-transform: uppercase;
   margin: 20px;
   padding: 10px;
   background: rgba(0,0,0,0.05);
   text-align: justify;



}


.cardFormElementContent {

    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    border-top-left-radius:0px;
    color: #333;
    font-size: 16pt;



}

.cardFormElementDesc {

  text-align: right;
  font-size:9pt;
   color: #666;
/*   background: rgba(0,0,0,0.1);
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px; */
   max-width:50%;
   width: 50%;

}

.cardFormElementDescLarge {

   text-align: right;
  font-size:12pt;
   color: #4a4a4a;
/*   background: rgba(0,0,0,0.1);
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px; */
   max-width:50%;
   width: 50%;


}

.cardFormElementTitle {

   background: rgba(0,0,0);
   border-top-left-radius:8px;
   border-top-right-radius:8px;
   display: block;
   font-size:15pt;
   line-height:17pt;
   display:block; 
   text-align:left;
   color: #666;
   text-transform: none !important;
   text-align: left;

}

.cardHelp li {

  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.5);

}

.cardHelp li:last-child {

  border: none;

}

.cardListHighlightElement {

  background: rgba(0,0,0,0.05);

/*
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5babc), color-stop(100%,#847777));
background: -webkit-linear-gradient(top,  #b5babc 0%,#847777 100%);
*/
}



.cardListElement {

  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
  height: auto;
   /*max-height: 60px;
  min-height: 60px;
  overflow: hidden; */


}

.cardListElement :last-child {

  /*border-bottom: none;
  padding: 5px;
  height: auto;*/
   /*max-height: 60px;
  min-height: 60px;
  overflow: hidden; */


}



.cardFormList {


  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;


}

.cardFormList input {

  border:none;
  width:100%;
  background-color: rgba(0,0,0,0);
  font-size:15pt;
  color: #666;
  border-radius: 5px;
  font-family: roboto_con, sans-serif;
  padding: 6px 10px 4px 10px;
  text-align:center;
  /*border-bottom: 1px solid rgba(0,0,0,0.4);
  border-left: 1px solid rgba(0,0,0,0.4);*/
  border: 1px solid rgba(0,0,0,0.4);




}



.cardFormContainer {

  margin: 0px;
  width: 98%;
  margin-top: 0px;
  margin-bottom: 0px;
 /* border-radius: 5px;*/
  color: #666;


}



.cardFormContainer td {

  padding: 5px;
}

.cardFormElement {

 /*  border-bottom: 1px solid rgba(0,0,0,0.1);*/

}


.cardFormContainer select {

    border:solid;
    -webkit-appearance: none;
    font-family: roboto_con, sans-serif;
    font-size:14pt;
    line-height:1.8em;
    background-color: #FFF;
    color: #333;
    border-radius: 1px;
    border-width: 2px;
    padding: 6px 10px 4px 10px;
    width:100%;
    text-align: left;

}

.cardFormContainer input {

  border:solid;
  width:100%;
  background-color: #FFF;
  font-size:14pt;
  line-height:1.8em;
  color: #333;
  border-radius: 1px;
  font-family: roboto_con, sans-serif;
  padding: 6px 10px 4px 10px;
  text-align:left;
  border-width: 2px;



}

.cardFormContainer textarea {

  border:solid;
  width:100%;
  background-color: #FFF;
  font-size:14pt;
  line-height:1.8em;
  color: #333;
  border-radius: 1px;
  font-family: roboto_con, sans-serif;
  padding: 6px 10px 4px 10px;
  text-align:left;
  border-width: 2px;



}

.cardFormContainer .dateSelect {

  -webkit-appearance: none;
  appearance:none;
  border:none;
  width:100%;
  background-color: #eee;
  font-size:14pt;
  line-height:1.8em;
  color: #333;
  border-radius: 5px;
  font-family: roboto_con, sans-serif;
  padding: 6px 10px 4px 10px;
  text-align:left;




}


.cardFormContainer input[type=checkbox] {
}

.cardInlay {

  background-color: #eee;
  font-size:14pt;
  line-height:1.8em;
  color: #333;
  border-radius: 8px;
  padding: 5px;
    text-align: left;

}

.cardInlay td {


  font-size:14pt;
  color: #333;
  padding: 5px;
    text-align: left;

}



.cardInlay input {

  text-align: left;


}


.cardFormCompactRow td {

    padding:0px;
    text-align:center;
    color: #333;
    font-size:8pt;


}


.cardEmptyElement {

  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 20px;
  height: 40px;
  overflow: hidden;
  font-size:32pt;
  color: #666;

}

.cardListElement td {

    color: #666;
}

.cardListElementLarge {

  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  overflow: hidden;
  color: black;


}


.cardListElementSubText {

   color: rgba(0,0,0,0.3);
   text-transform: uppercase;
   font-size:8pt;
   font-weight: bold;

}

.cardListElementText {

   color: rgba(0,0,0,0.9);
   text-transform: uppercase;
   font-size:11pt;


}
